.gradle/
build/
MCU-API/
GUI-JavaFx/
GUI-Minimal/
GUI-Swing/
MCU-Yggdrasil/
MCU-DownloadLib/
PackBuilder/
MCU-Bootstrap/
FastPack/
MCU-Launcher/
MCU-Server/
QuickServer/
.idea/
copy/

*.iml
*.ipr
*.iws