.gradle/
build/
MCU-API/
GUI-JavaFx/
GUI-Minimal/
GUI-Swing/
MCU-CLI/
MCU-Yggdrasil/
MCU-DownloadLib/
PackBuilder/
MCU-Bootstrap/
FastPack/
MCU-Launcher/
MCU-Server/
QuickServer/
MCU-ForgeLoader/
MCU-LegacyForgeLoader/
.idea/
copy/
out/

*.iml
*.ipr
*.iws
*.log

.project
.settings/
